body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #569C87;
}

h1 {
    color: #FCCA46;
    font-size: 5em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*********** BOUTON RECHERCHE **********/
input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	background-color: lightgrey;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	display: flex;
    justify-content: flex-start;
    width: 97.1%;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	background-color: #fff;
	border-color: #FCCA46;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

/********** MAIN ****************/

img {
    width: 100%;
}

.zoom {
    transition:0.5s;
}

.zoom:hover {
    transform : scale(1.2);
    cursor: pointer;
}

#menu {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#menu a {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;  
    margin: 25px;
    width: 30%;
    overflow: hidden;
}

#menu a:hover {
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;
}


/************ PROCHAINEMENT **********/

#next {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 10vh;
    background-color: #569C87;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#next p {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #FCCA46;
}

.content {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #569C87;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: #FCCA46;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-top: 30px;
}

.bounce-1 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease-in;
}

.bounce-3 {
    animation-name: bounce-2;
    animation-timing-function: ease-out;
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

#next p + .content {
    display: flex;
}
/************ PAGES MENU **********/

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 2em;
    position: relative;
}

h2::after {
    width: 30%;
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 0;
    height: .1em; 
    background: black;
    z-index: -1;
    opacity: 0.8;
    transition: transform .5s;
}

h2:hover::after {
    transform: scaleX(1);
}
  
.menu_details {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
}

/********** FOOTER ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #569C87;
}

footer p {
    color: #FCCA46;
    font-size: 2em;
    padding: 0 10px 0 10px;
}

footer p:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/************ VERSION TABLETTE/MOBILE **********/
@media screen and (max-width: 768px){

    h1 {
        font-size: 3em;
    }

    #menu a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #next {
        width: 50%;
    }

    #next p, footer p {
        font-size: 1em;
    }
}