body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #569C87;
}

h1 {
    color: #FCCA46;
    font-size: 5em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

/*********** BOUTON RECHERCHE **********/
input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	background-color: lightgrey;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	display: flex;
    justify-content: flex-start;
    width: 100%;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	background-color: #fff;
	border-color: #FCCA46;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

/********** MAIN ****************/

img {
    width: 100%;
}

.zoom {
    transition:0.5s;
}

.zoom:hover {
    transform : scale(1.2);
    cursor: pointer;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#menu a {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin: 25px;
    width: 30%;
    overflow: hidden;
    opacity: 0.7;
    transition: 0.5s;
}

#menu a:hover {
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;
    opacity: 1;
}


/************ PROCHAINEMENT **********/


#next {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #569C87;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 6%;
}

#next p {
    font-size: 2em;
    color: #FCCA46;
}

.content {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #569C87;
    border-radius: 10px;
}

.box {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: #FCCA46;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-top: 35%;
}

.bounce-1 {
    animation-name: bounce-2;
    animation-timing-function: ease;
    margin-right: 10px;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease-in;
    margin-right: 10px;
}

.bounce-3 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}


/************ PAGES MENU **********/

.menulist {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 2;
    margin-bottom: 3%;
}

.menulist img {
    width: 30%;
    height: 8vh;
}

.menulist article {
    margin-bottom: 8%;
}

.menulist h2, h3, p {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.menu_title {
    font-size: 2em;
    margin-bottom: 5%;
}

.line_title {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 2%;
}

#menu_note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Handlee', cursive;
    width: 80%;
    background-color: #FCDFDB;
    margin: auto;
    padding: 2%;
}

#menu_chic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: #FFF5FE;
    margin: auto;
    padding: 2%;
}

#menu_chic .menu_title {
    color: transparent;
    position: relative;
    background-clip: text;
    font-family: 'Lobster', cursive;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(227,138,18,1) 0%, rgba(158,110,254,1) 100%);
}

#menu_chic .menu_entrée {
    color: #C47412;
    font-family: Arial, Helvetica, sans-serif;
}

#menu_chic .menu_plats {
    color: #b158a1;
    font-family: Arial, Helvetica, sans-serif;
}

#menu_chic .menu_dessert {
    color: #4c15d6;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_dessert ul li {
    line-height: 3;
}

#menu_delice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Handlee', cursive;
    background-color: #EDEFEF;
    width: 80%;
    margin: auto;
    padding: 2%;
}

#menu_delice .menu_title {
    color: transparent;
    position: relative;
    font-family: 'Dancing Script';
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(0,35,219,1) 0%, rgba(38,155,249,1) 100%, rgba(76,21,214,1) 100%);
}


#menu_palette {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Handlee', cursive;    
    width: 80%;
    margin: auto;
    padding: 2%;
}

#menu_palette .menu_title {
    color: transparent;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(62,146,58,1) 0%, rgba(197,255,140,1) 100%);
}


.menulist .fa-music:before {
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right top, #f05161, #f05b65, #f0646a, #f06d6f, #f07574, #f17f79, #f2887e, #f39184, #f59d8c, #f6aa95, #f8b5a0, #f9c1ab);
}

.desklist li{
    font-size: 1.5em;
    list-style-type: none;
}

.desklist li:first-child {
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
}

.desklist li:last-child {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.menu_dessert li {
    display: flex;
    justify-content: flex-start;
    line-height: 1;
}

.menu_dessert li:last-child {
    display: flex;
    justify-content: flex-start;
}

.footer_title {
    display: flex;
    justify-content: center;
}

/*********** ANIMATION TRAIT H3 **********/
.meal{
    position: relative;
    line-height: 20px;
    margin: 10px 15px;
    
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
  
.meal:before,
.meal:after {
    width:0;
    content: "";
    bottom: -10px;
    background: #3c3d3e;
    height: 2px;
    position: absolute;
    
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease;
}

.meal:hover {
    cursor: default;
}

.meal:before {
    right: 50%;
}

.meal:after {
    left: 50%;
}

.meal:hover:before,
.meal:hover:after {
    width: 50%;
}


/****** BOUTTON SUIVANT/PRECEDENT ********/

.button-nav {
    display: flex;
    justify-content: space-between;
}

.btn {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 20%;
}

.button-nav .fas {
    color: #569C87;
    font-size: 5em;
    transition:0.5s;
}

.button-nav .fas:hover {
    transform : scale(1.2);
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

/********** MENTIONS LEGALES *********/

#mention {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5%;
}

#mention h2 {
    display: flex;
    justify-content: center;
}

#mention h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/********** FOOTER ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #569C87;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 8vh;
    width: 100%;
}

footer a {
    color: #FCCA46;
    font-size: 2em;
    padding: 10px 10px 0 10px;
    text-decoration: none;

}

footer a:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}


/************ VERSION TABLETTE/MOBILE **********/
@media screen and (max-width: 768px){

    main {
        width: 100%;
        margin-bottom: 10%;
    }

    header {
        width: 100%;
    }


    h1 {
        font-size: 3em;
    }

    .menulist h2 {
       font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    .menulist li{
        font-size: 0.8em;
        margin: auto;
    }

    .menulist img {
        width: 20%;
        height: 5vh;
    }

    #menu a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #next {
        width: 50%;
        height: 8vh;
        margin: auto;
    }

    #next p {
        font-size: 1em;
        margin-left: 20%;
    }

    footer a {
        font-size: 1em;
        padding-right: 10px;
    }

    .box {
        display: none;
    }

    #menu_note, #menu_chic, #menu_delice, #menu_palette {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 95%;
    }

    .button-nav .fas {
        font-size: 2em;
        margin-top: 250px;
    }

    footer {
        height: 5vh;
    }
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
